/.venv
02_GraniceAdministracyjne
MyProject12
2024Z_ANALIZY_GI_Projekt_1_fotowoltaika_INSTRUKCJA (1).pdf
2024Z_ANALIZY_GI_Projekt_1_fotowoltaika_INSTRUKCJA.pdf
Plesna
dane
src/__pycache__/plesna.cpython-39.pyc
src/__pycache__/swieradow_zdroj.cpython-39.pyc
